name: iOS Publish
on:
  workflow_call:
    secrets:
      cocoapods_trunk_token:
        required: true
        description: Token for CocoaPods trunk authentication for publishing pods
      ios_app_store_connect_api_key:
        required: true
        description: API key for App Store Connect for code signing
      match_password:
        required: true
        description: Password for Fastlane match, for retrieving code signing certificates
      ssh_key_github:
        required: true
        description: SSH key for accessing Github repositories
      personal_access_token_github:
        required: true
        description: Personal Access Token for Github for accessing other private repositories
env:
  APP_STORE_CONNECT_API_KEY_IS_KEY_CONTENT_BASE64: true
  APP_STORE_CONNECT_API_KEY_ISSUER_ID: 69a6de7a-a6bf-47e3-e053-5b8c7c11a4d1
  APP_STORE_CONNECT_API_KEY_KEY_ID: 9554PR33AC
  APP_STORE_CONNECT_API_KEY_KEY: ${{ secrets.ios_app_store_connect_api_key }}
  CODE_SIGNING_IDENTITY_ID: 95V535S6TQ
  MATCH_GIT_URL: git@github.com:Judopay/JudoKit-iOS-SigningCertificates.git
  MATCH_PASSWORD: ${{ secrets.match_password }}
jobs:
  build:
    runs-on: macos-15
    steps:
    - name: Set XCode Version
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '26.2'
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Set up SSH Key
      uses: Judopay/github-actions/actions/ssh-agent@master
      with:
        ssh-private-key-base64: ${{ secrets.ssh_key_github }}
    - name: Set up Google Cloud Authentication
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.google_cloud_service_account_key }}
        project_id: ${{ vars.firebase_gcp_project }}
    - name: Set up Ruby
      if: ${{ hashFiles('Gemfile.lock') != '' }}
      uses: ruby/setup-ruby@v1
      with:
        bundler-cache: true
    - name: Carthage Bootstrap
      if: ${{ hashFiles('Cartfile.resolved') != '' }}
      uses: Judopay/github-actions/actions/carthage-bootstrap@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
    - name: Pod Install
      if: ${{ hashFiles('**/Podfile.lock') != '' }}
      uses: Judopay/github-actions/actions/pod-install@master
    - name: Brew Install
      uses: gerlero/brew-install@v1
      with:
        packages: clang-format
    - name: Install Github CLI
      uses: tecolicom/actions-use-homebrew-tools@v1
      with:
        tools: gh
    - name: Run Build
      uses: maierj/fastlane-action@v3.1.0
      env:
        XCODE_DERIVED_DATA_PATH: ${{ runner.temp }}/xcode/derived_data
      with:
        lane: build
    - name: Publish
      uses: maierj/fastlane-action@v3.1.0
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.cocoapods_trunk_token }}
        GIT_TAG: ${{ github.ref_name }}
        XCODE_DERIVED_DATA_PATH: ${{ runner.temp }}/xcode/derived_data
        GH_TOKEN: ${{ secrets.personal_access_token_github }}
      with:
        lane: publish
